<td>{{view.content.name}}</td>
{{#each view.computedContent}}
  <td>{{this}}</td>
{{/each}}
{{#if view.isPaid}}
  <td class="sum"><strong class="text-success">{{formatMoney view.total}}</strong></td>
{{else}}
  <td class="sum">
    <strong class="text-danger">{{formatMoney view.total}}</strong>&nbsp;
    (
      <small data-toggle="tooltip" title="Is missing to pay">{{view.notPaid}}</small>
      /
      <small data-toggle="tooltip" title="Was already paid">{{view.paid}}</small>
    )
  </td>
{{/if}}
<td {{bind-attr class="view.isPaid:text-success"}}><i {{action "togglePay" target="view"}} class="glyphicon glyphicon-check"></i></td>