<h1>Overview</h1>
<p>
  <form class="form-inline">
    <div class="form-group">
      <label class="control-label" id="dateFrom">From
        {{view App.DatePicker valueBinding='controller.fromDate'}}
      </label>
      <label class="control-label" id="dateTo">To
        {{view App.DatePicker valueBinding='controller.toDate'}}
      </label>
      <button class="btn btn-success" {{action 'export' target='view'}}>Export</button>
    </div>
  </form>
</p>
<table class="table table-striped  table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th></th>
    <th>Sum</th>
    {{#each App.store.products}}
      <th>{{name}}<br/>{{formatMoney price}}</th>
    {{/each}}
  </thead>

  {{collection tagName='tbody' itemViewClass=App.AdminOverviewRowView contentBinding='App.store.users'}}
</table>
