<div class="row">
  {{#each controller.letters}}
    {{view App.LetterUsersView contentBinding="this"}}
  {{/each}}
  {{#if App.selectedLetters }}
    <p class="text-center">
      <small>You are searching for: {{controller.selectedLettersLabel}}</small>
      <span class="btn btn-danger btn-xs" {{action "cancel" target="view"}}>
        <i class="glyphicon glyphicon-remove"></i> Clear
      </span>
    </p>
  {{/if}}
  <hr/>
</div>

{{#if controller.chunkedUsers}}
  {{#each users in controller.chunkedUsers}}
    <div class="row">
      {{#each users}}
        {{view App.UserView contentBinding="this" controllerBinding="view.controller"}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <h1>There is not user with name including {{controller.selectedLettersLabel}}</h1>
{{/if}}