<div class="row" id="filter">
  <form class="form-inline">
    <div class="input-group">
      <div class="dropdown input-group-addon" id="organizationUnitSelect">
        <a data-toggle="dropdown" class="btn btn-primary">{{controller.organizationUnit.name}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          {{#each App.store.organizationUnits}}
            <li>
              <a {{action 'changeOrganization' this target='controller'}} data-category-id="{{unbound id}}" data-toggle="dropdown">{{unbound name}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      {{input valueBinding="view.controller.filteredText" class="form-control" placeholder="Type user name"}}
    </div>
  </form>
</div>

{{#if controller.chunkedUsers}}
  {{#each users in controller.chunkedUsers}}
    <div class="row">
      {{#each users}}
        {{view App.UserView contentBinding="this" controllerBinding="view.controller"}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <h1>There is not user in {{controller.organizationUnit.name}} with name including {{controller.filteredText}}</h1>
{{/if}}