<h1>
  {{App.currentUser.name}}'s overview for year {{view.controller.year}}
  {{#link-to 'order' App.currentUser.id class="btn btn-danger btn-lg pull-right"}}Back{{/link-to}}
</h1>
<table class="table table-striped  table-hover table-bordered">
  <thead class="yearOverviewHeader">
    <tr>
      <th>Month</th>
      {{#group}}
        {{#each month in controller.months}}
          {{view App.YearOverviewColumnHeaderView  contentBinding="month"}}
        {{/each}}
      {{/group}}
    </tr>
    <tr>
      <th>Sum</th>
      {{#with view as oldView}}
        {{#group}}
          {{#each month in controller.months}}
            {{view App.YearOverviewSumView contextBinding="oldView" contentBinding="month"}}
          {{/each}}
        {{/group}}
      {{/with}}
    </tr>
  </thead>
  <tbody>
    {{#group}}
      {{#each product in App.store.products}}
        {{view App.YearOverviewRowView contentBinding="product"}}
      {{/each}}
    {{/group}}
  </tbody>
</table>