<div class="col-xs-3 cart">
  {{view "small-user" contentBinding="App.currentUser"}}
  <br />
  <button type="button" title="Done" class="btn btn-success btn-lg btn-block" {{action "submit" target="view"}}>
    <i class="glyphicon glyphicon-ok"></i>
  </button>
  <br />
  <button type="button" title="Cancel" class="btn btn-danger btn-lg btn-block" {{action "cancel" target="view"}}>
    <i class="glyphicon glyphicon-remove"></i>
  </button>
  <br />

  {{#if view.content}}
    <button type="button" title="Favourite" class="btn btn-info btn-lg center-block" {{action "openProductGroupForm" target="view"}}>
      <i class="glyphicon glyphicon-star"></i>
    </button>
    <br />
  {{/if}}

  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{formatMoney view.totalPrice}}</strong> {{#link-to 'order.yearOverview' App.currentUser.id view.year}}Overview{{/link-to}}</div>
    <div class="panel-body">
      {{#if view.content}}
        {{#each view.content}}
          {{view "cart-item" contentBinding="this"}}
          <br />
        {{/each}}
      {{else}}
        Start by selecting some product or
        <br/><br/>
        <button type="button" title="Use last" class="btn btn-info btn-lg center-block" {{action "useLastCombination" target="controller"}}>
          <i class="glyphicon glyphicon-repeat"></i>
        </button>
      {{/if}}
    </div>
  </div>
</div>
