<div class="col-xs-3">
  <button type="button" class="btn btn-danger btn-lg" {{action "cancel" target="view"}}>Cancel</button>
  <button type="button" class="btn btn-success btn-lg with-user-image" {{action "submit" target="view"}}>
    Done
    {{view App.SmallUserView contentBinding="App.currentUser"}}
  </button>
  <br/><br/>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{formatMoney view.totalPrice}}</strong> {{#link-to 'order.yearOverview' App.currentUser.id view.year}}Overview{{/link-to}}</div>
    <div class="panel-body">
      {{#if view.content}}
        {{#each view.content}}
          {{view App.CartItemView contentBinding="this"}}
          <br />
        {{/each}}
      {{else}}
        Start by selecting some product or
        <br/><br/>
        <button type="button" class="btn btn-info btn-lg center-block" {{action "useLastCombination" target="controller"}}>Use last</button>
      {{/if}}
    </div>
  </div>
</div>