<div class="col-xs-9">
  {{view App.CategoriesListView contentBinding="view.categories"}}

  <div class="tab-content">
    {{#if view.displayFavourites}}
      {{#if App.currentUser.favourites}}
        <h3>Groups</h3>
        <hr />
        <div class="row favourites">
          {{view App.FavouritesView contentBinding="App.currentUser.favourites"}}
        </div>
      {{/if}}

      <h3>Products</h3>
      <hr />
      {{view App.ProductsListView contentBinding="view.popular"}}
    {{else}}
      {{view App.ProductsListView contentBinding="view.filteredProducts"}}
    {{/if}}
  </div>
</div>