<div class="col-xs-9">
  {{view "categories-list" contentBinding="view.categories"}}

  <div class="tab-content">
    {{#if view.displayFavourites}}
      {{#if favourites}}
        <h3>Groups</h3>
        <hr />
        <div class="row favourites">
          {{view "favourites" contentBinding="favourites"}}
        </div>
      {{/if}}

      <h3>Products</h3>
      <hr />
      {{view "products-list" contentBinding="view.popular"}}
    {{else}}
      {{view "products-list" contentBinding="view.filteredProducts"}}
    {{/if}}
  </div>
</div>
