<h1>
  {{App.currentUser.name}}'s overview for year {{view.controller.year}}
  {{#link-to 'order' App.currentUser.id class="btn btn-danger btn-lg pull-right"}}Back{{/link-to}}
</h1>
<table class="table table-hover table-bordered yearOverviewTable">
  <thead class="yearOverviewHeader">
    <tr class="months">
      <th>Month</th>
      {{#group}}
        {{#each month in controller.months}}
          {{view "year-overview-column-header"  contentBinding="month"}}
        {{/each}}
      {{/group}}
    </tr>
    <tr class="sum">
      <th>Sum</th>
      {{#with view as oldView}}
        {{#group}}
          {{#each month in controller.months}}
            {{view "year-overview-sum" contextBinding="oldView" contentBinding="month"}}
          {{/each}}
        {{/group}}
      {{/with}}
    </tr>
  </thead>
  {{collection tagName='tbody' itemViewClass="year-overview-row" contentBinding='App.store.products'}}
</table>
